*{
    padding: 0px;
    margin: 0px;
}

hr{
    background-color: #fff;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.buttons button{
    padding: 10px 15px;
    margin: 0 10px;
}

a{
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.loader-img{
    display: none;
}